<!DOCTYPE html>

<header>
    <a href="index.html"><img src="img/logo.png" alt=""></a>
    <nav class="hide-mobile">
        <a href="index.html">Start</a>
        <a href="paella.html">Rezept des Tages</a>
        <a href="kontakt.html">Kontakt</a>
        <a href="impressum.html">Impressum</a>
    </nav>
    <img onclick="showBarMenu()" class="bar-img" src="img/icons/bars-solid.svg" alt="">
</header>
<div>
    <nav class="second-nav d-none" id="overlay">
        <a href="index.html" class="nav-b">Start</a>
        <a href="paella.html" class="nav-b">Rezept des Tages</a>
        <a href="kontakt.html" class="nav-b">Kontakt</a>
        <a href="impressum.html" class="nav-b">Impressum</a>
    </nav>
</div>